@model Rathor.Models.User
@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Forgot Password";
}

<html>
<body>
    <h3 style="color:red">@TempData["mailname"]</h3>
    <h3 style="color:green"> @TempData["passwordreset"]</h3>
    <h3 style="color:red">@TempData["confirmpassword"]</h3>

    <form method="post" asp-action="ForgotPassword">
        <div class="border p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <h2 class="text-info pl-3"> Create New Password</h2>
            </div>
            @if (TempData["passwordreset"] != null)
            {
                <div class="form-group row">
                    <p>Click here to <a class="text-info pl-3" href="/User/Login">Login</a></p>
                </div>
            }
            <div class="row">
                <div class="col-8">

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Name">User Name</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Email"></label>
                        </div>
                        <div class="col-8">
                            <input type="email" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Password">New Password</label>
                        </div>
                        <div class="col-8">
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="ConfirmPassword">Confirm New Password</label>
                        </div>
                        <div class="col-8">
                            <input type="password" asp-for="ConfirmPassword" class="form-control" id="myInput"/>
                            <input type="checkbox" onclick="showPassword()">Show Password
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-8 offset-4 row">

                            <div class="col">
                                <input type="submit" class="btn btn-info w-100" value="Submit" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
<script>
    function showPassword() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}

