@model Rathor.Models.ProjectInfo
@{
    Layout = "_Layout";
}

<form method="post">
    <input asp-for="_projectInfo.projectId" hidden />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <h3>Project Name</h3>
        </div>
        <div class="col-md-6">
            <input type="text" asp-for="_projectInfo.Title" />
        </div>
        <div class="col-md-6">
            <h3>Description</h3>
        </div>
        <div class="col-md-6">

            <input type="text" asp-for="_projectInfo.Description" />
        </div>
        <div class="col-md-6">
            <h3>AssignyId on:</h3>
        </div>

        <div class="col-md-6">
            <select asp-for="_projectInfo.AssignyId">
                @if (Model.userlist != null)
                {
                    foreach (var item in Model.userlist)
                    {
                        <option value="@item.AssignyId">@item.Name</option>

                    }
                }
            </select>

        </div>
        <div class="col-md-6">
            <h3>StartDate</h3>
        </div>
        <div class="col-md-6">

            <input type="date" asp-for="_projectInfo.StartDate" />
        </div>
        <div class="col-md-6">
            <h3>EndDate</h3>
        </div>
        <div class="col-md-6">

            <input type="date" asp-for="_projectInfo.EndDate" />
        </div>
        <div class="col-md-6">
            <button type="submit">submit</button>

        </div>
        <div class="col-md-6">
            <button type="reset">reset</button>

        </div>
    </div>
</form>
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

